.prev-calc {
    width: 800px;
    height: 150px;
    background-color: white;
    border-radius: 5px;
    display: inline-block;
    margin-right: 60px;
    margin-bottom: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
    box-sizing: border-box;
    position: relative;
}

.prev-calc .image {
    height: 100%;
    margin-bottom: 0;
    border-radius: 5px 5px 0 0;
    float: left;
    margin-right: 20px;
}

.prev-calc .caption {
    font-size: 23px;
    padding: 10px 20px 0 20px;
    margin-bottom: 0;
    margin-top: 0;
}

.prev-calc .text {
    font-size: 18px;
    padding: 10px 20px 20px 20px;
    margin-top: 0;
}

.prev-calc .full-button {
    width: 80px;
    height: 30px;
    margin-left: 250px;
    border: 1px solid #e0dede;
    border-radius: 3px;
    text-align: right;
    padding: 2px 5px 5px 5px;
    box-sizing: border-box;
    background-color: #e0dede;
    position: absolute;
    bottom: 20px;
    right: 20px;
}

.prev-calc .full-button a {
    text-decoration: none;
    color: #a3a1a1;
    font-size: 18px;
    height: 100%;
    vertical-align: middle;
}

.prev-calc .full-button img {
    width: 18px;
    height: 18px;
    display: inline-block;
    vertical-align: middle;
    margin-right: 5px;
    transition: all 0.5s;
}

.prev-calc .full-button span {
    display: inline-block;
    margin-bottom: 5px;
}

.prev-calc .full-button:hover {
    background-color: #a97180;
}

.prev-calc .full-button a:hover {
    color: white;
}

.prev-calc .full-button:active {
    background-color: #83b3c9;
}
